<%= form_with(model: contact, local: true) do |form| %>
    <% if contact.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(contact.errors.count, "error") %> prohibited this news from being saved:</h2>

          <ul>
            <% contact.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon3">Name</span>
      <%= form.text_field :name, id: :name , :class=>'form-control'%>
    </div><br>

    <div class="field">
      <%= form.label :phone_number %>
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon3">Phone Number</span>
      <%= form.text_field :phone_number, id: :phone_number , :class=>'form-control'%>
    </div>

    <div class="input-group" style="display: none">
      <span class="input-group-addon" id="basic-addon3">Owner</span>
      <%= form.text_field :owner, id: :owner , :class=>'form-control', value:current_user.id%>
    </div>

    <div class="actions"><br>
      <%= form.submit :class=>'btn btn-primary'%>
    </div>
<% end %>
